@font-face {
    font-family: blacksword;
    src: url(../fonts/Blacksword.otf);
}

@font-face {
    font-family: greatvibes;
    src: url(../fonts/GreatVibes-Regular.ttf);
}

.text-black{
    color:black !important; 
}

.text-accent{
    color:#d82b72 !important; 
}

.text-white{
    color:#FFFFFF !important; 
}

.no-padding{
	padding: 0px !important;
}
