*{
    /*border:1px solid red;*/
}

@font-face {
    font-family: blacksword;
    src: url(../fonts/Blacksword.otf);
}

@font-face {
    font-family: greatvibes;
    src: url(../fonts/GreatVibes-Regular.ttf);
}

body {
    font-size: 14px;
}

ul{
list-style-type: none;
padding: 0px !important;
}


.menu-link{
    font-family: inherit;
    text-decoration: none !important;
    color: inherit;
    padding: 5px;
}

.menu-link:hover{
    color: #ffff00;
    border-bottom: 1px solid;
}

img{
    max-width:100%;
    max-height:100%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    display: none;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.m-background{
    background: url("../images/myImageCamera.jpg") no-repeat;
    height: 100%;
    width:100%;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.hamburger-container{
    position: fixed;
    font-size: 21px;
    top: 20px;
    left: 20px;
    display: none;
    background-color: background-color: rgba(0, 0, 0, 0.88);
    z-index: 3;
}

.black-tint{
    background-color: rgba(0, 0, 0, 0.66);
    height: : 100%;
    width:100%;
    min-width: 100%;
    min-height: 100%;
}

/*index page*/
.m-content{
    /*background-color: rgba(0, 0, 0, 0.66);*/
    min-height: : 100%;
    width:100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.home-img{
    height: 32px;
    width: 32px;
}

.m-nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 99%;
    height: 10%
}

.welcome-board{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.welcome{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}l̥

.title-message{
    font-size: 60px;
}

.sub-title-message{
    margin-top: 100px;
}


.work-together-link{
    font-size: 15px;
    background-color: #008080 !important;
    border-radius: 25px !important;
    font-size: 18px;
}


.project-list{
    width: 95%;
    margin: auto;
    position: relative;
}

.project-item .well h4{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 20px;     /* fallback */
   max-height: 20px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.well-updated-project-item{
    padding: 0px !important;
    background: url("../images/holi1.jpg") no-repeat;
    min-height: 200px;
    padding: 10px !important;
    position: relative;
}

.project-item-content{
    position: absolute;
    bottom: 0;
}

.project-item .well p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 48px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.area-title{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.who-am-i{
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.line{
    border-top:2px solid;
    border-color: #d82b72;
    color: #d82b72;
    margin: auto;
    position: relative;
    top: 50%;
}

.line-container{
    height: 100%;
}

.sub-header-div{
    padding-top: 30px;
    height: 20px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    text-align: center;
}

.sub-header-text{
    border-radius: 25px;
    border: 2px solid #d82b72;
    position: relative;
    top: 50%;
    font-size: 20px;
    background-color: #d82b72;
    transform: translateY(-50%);
}

footer{
    background-color: #008080;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
}

.footer-links{
    color: white;
}

.footer-links:hover{
    color: white;
}

.form-group{
    margin-top: 8px !important;
}

.footer-form-control{
    color: white;
}

.footer-help-block{
    color: white;
}

@media screen and (min-width: 900px){
    .project-item{
        width: 25%;
}
}
